name: AdbeUnitTestsPython3OldApis

on: [push]

jobs:
  test:
    runs-on: macos-latest
    timeout-minutes: 15
    strategy:
      matrix:
        # https://github.com/ashishb/adb-enhanced/pull/100/checks?check_run_id=492546108
        api-level: [16]  # 15 and 19 don't work
        target: [default] # Other option: google_apis
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86
          profile: Nexus 6
          script: |
            python3 -m pip install --upgrade pip
            python3 -m pip install --user -r requirements.txt
            make test_python3
